<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drip Attire</title>
</head>

<body>
    <!-- <div
        class="bg-slate-900 text-white font-medium rounded-md py-3 px-10 absolute top-2 left-[50%] -translate-x-1/2 max-w-[90%] overflow-hidden ">
        hii
    </div> -->
</body>

</html>