<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drip Attire</title>
</head>

<body class="font-geist">
    <%- include('partials/user-header') %>
        <div class="mt-8 max-w-[60%] sm:max-w-[50%] lg:max-w-[42%] mx-auto">
            <h1 class="text-2xl mb-2 sm:text-4xl md:text-5xl lg:7xl lg:mb-3 text-gray-700 text-center">TERMS &
                CONDITIONS
            </h1>

            <!-- OVERVIEW -->
            <p class="text-[14px] leading-5 text-gray-800 mt-1">These Terms and Conditions govern your use of the Drip
                Attire website. Throughout the site, the terms “we”, “us” and “our” refer to Drip Attire. By accessing
                or purchasing from our site, you agree to be bound by these Terms and Conditions. These Terms apply to
                all users of the site, including browsers, customers, vendors, merchants, and contributors of content.
                By using any part of the website, you accept these Terms fully. If you do not agree with any part of
                these Terms, you may not access the website or use our services. We reserve the right to modify or
                update these Terms at any time by posting changes on this page, and it is your responsibility to review
                this page periodically.
            </p>
            <br>

            <!-- SECTION-1 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 1 - ONLINE STORE TERMS</p>
            <p class="text-[14px] leading-5 text-gray-800">By agreeing to these Terms, you represent that you are at
                least the age of majority in your state or province of residence, or have given us your consent to allow
                any minor dependents under your care to use this site. You may not use our products for any illegal or
                unauthorized purpose, nor may you violate any laws in your jurisdiction while using the website or
                services. You must not transmit any destructive code, viruses, worms, or malware. Any breach or
                violation of these Terms will result in the immediate termination of your services.
            </p>
            <br>

            <!-- SECTION-2 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 2 - GENERAL CONDITIONS</p>
            <p class="text-[14px] leading-5 text-gray-800">We reserve the right to refuse service to anyone for any
                reason at any time. You understand that your content, excluding credit card information, may be
                transferred unencrypted and may involve transmissions over various networks or changes required to
                comply with technical requirements of connecting devices or networks. Credit card information is always
                encrypted during transfer. You agree not to reproduce, duplicate, copy, sell, resell, or exploit any
                portion of the service, use of the service, or access to the service without express written permission.
                Headings used in this agreement are included for convenience only and do not affect the meaning of these
                Terms.
            </p>
            <br>

            <!-- SECTION-3 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 3 - MODIFICATIONS TO THE SERVICE AND PRICES</p>
            <p class="text-[14px] leading-5 text-gray-800">Prices for our products may change without notice. We reserve
                the right to modify or discontinue any product or service at any time without liability. We shall not be
                responsible to you or any third party for any modification, price change, suspension, or discontinuation
                of a service or product.
            </p>
            <br>

            <!-- SECTION-4 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 4 - PRODUCTS OR SERVICES</p>
            <p class="text-[14px] leading-5 text-gray-800">Certain products or services may be available exclusively
                online. These items may have limited quantities and are subject to return or exchange only according to
                our Refund Policy. We have made every effort to display accurate colors and images of our products, but
                we cannot guarantee that your device’s display will reflect colors precisely. We reserve the right to
                limit sales of our products to any person, region, or jurisdiction. We may limit quantities of any
                products or services offered. Descriptions and pricing are subject to change at any time without notice.
                We do not warrant that the quality of products or services will meet your expectations.
            </p>
            <br>

            <!-- SECTION-5 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 5 - ACCURACY OF BILLING AND ACCOUNT INFORMATION
            </p>
            <p class="text-[14px] leading-5 text-gray-800">We reserve the right to refuse any order placed with us. We
                may limit or cancel quantities per person, household, or order at our discretion. These restrictions may
                apply to orders using the same customer account, billing address, or payment method. If we make a change
                to an order, we may attempt to notify you using the email or phone number provided at the time of
                purchase. You agree to provide current, complete, and accurate purchase and account information for all
                transactions.
            </p>
            <br>

            <!-- SECTION-6 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 6 - THIRD-PARTY LINKS</p>
            <p class="text-[14px] leading-5 text-gray-800">Our service may include links to third-party websites that
                are not affiliated with us. We are not responsible for examining or evaluating their content, accuracy,
                or policies. We do not warrant or accept liability for any third-party materials or websites. Any use of
                third-party sites is at your own risk.
            </p>
            <br>

            <!-- SECTION-7 -->
            <p class="text-[14px] font-bold text-gray-800 mt-1">SECTION 7 - USER COMMENTS AND FEEDBACK</p>
            <p class="text-[14px] leading-5 text-gray-800">If you submit comments or feedback, you agree that we may
                use, edit, copy, publish, distribute, and translate them without restriction. We are not obligated to
                maintain your comments in confidence, pay compensation for them, or respond to them. You agree that your
                comments will not violate any third-party rights or contain unlawful or abusive material. You alone are
                responsible for the accuracy of your comments.
            </p>
            <br>
        </div>

        <%- include('partials/footer') %>

</body>

</html>